.item {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.35s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.success {
    background-color: rgba(64, 255, 0, 0.6);
}

.error {
    background-color: rgba(255, 0, 0, 0.6);
}
