.quizCreator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
}