.btn {
    border: none;
    background-color: inherit;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.35s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
        color: #000;
    }
}

.btnLogin {
    background-color: rgba(115, 254, 159, .7);
    color: rgb(0, 30, 165);

    &:hover {
        background-color: rgba(128, 253, 119);
    }
}

.btnRegister {
    background-color: rgba(0, 140, 255, 0.7);
    color: rgb(255, 255, 255);

    &:hover {
        background-color: rgb(0, 208, 255);
    }
}

.backToQuizList {
    background-color: rgba(115, 254, 159, .7);
    color: rgb(0, 30, 165);

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}