.container {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    border: 2px solid #fff;
    border-radius: 5px;

    .list {
        list-style-type: none;

        .text {
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            color: #fff;
        }
    }
}

.rightAnswer {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #fff;
    margin-top: 15px;
}

.icon {
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
}
.success {
    color: greenyellow;
}

.error {
    color: rgb(197, 0, 0);
}

.btnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
